input{
    background-color: black;
    border : solid yellow;
    border-radius : 0.5rem;
    color:white;
    
}
input:focus , textarea:focus{
    outline: none;
}
textarea{
    background-color: black;
    border: solid yellow;
    border-radius:1rem;
    color:white;
}
ul li a{
    color : white;
    text-decoration:none;
    padding : 0rem 1rem 0rem 1rem;
    transition: ease-in-out 300ms;
    border-radius : 0.5rem;
}
ul li{
    display:inline;
}
ul{
    list-style-type: none;
    float:right;
}
ul li a:hover{
    background-color: white;
    color: black;
}
.container{
    width:25%;
    border:solid yellow;
    height:15rem;
    text-align:center;
    transition: ease-in-out 300ms;
    font-size:2rem;
}
.auction{
    background-image :linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('auction-1.jpg');
    background-size:cover;
    
}
.users{
    background-image :linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('users.png');
    background-size:cover;
    
}
.queries{
    background-image :linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('queries.jpg');
    background-size:cover;
    
}
.flex{
    display:flex;
    justify-content:center;
    justify-content: space-around;
    width:100%;
}
.title{
    margin-top: -10rem;
}
.container:hover{
    border : solid red;
}
radio{
    width:50%;
    font-size:2rem;
}